{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'blat/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'blat/bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'blat/main.js' %}"></script>
</head>
<body class="container">
<h4><a href="{% url 'homepage' %}">App</a></h4>
<nav class="navbar navbar-default">

    <ul>
    {% if user.profile.blog %}
        <a href="{{ user.profile.blog }}">Profile</a>
    {% endif %}
        {% if user.is_authenticated %}
            <p>logged as:</p><h6>{{ user }}</h6>
            <h6>{{ user.profile.bio }}</h6>
            <li><a href="{% url 'newblat' %}">Share blat</a></li>
            <li><a href="{% url 'myview' %}">My Blats</a></li>
            <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
        {% else %}
            <li><a href="/login/?next=/">Log in</a></li>
        {% endif %}
    </ul>
</nav>
<section>
    {% block content %}{% endblock %}
</section>
</body>
</html>